/* ====================================== _____________ Forms Styles _____________ ====================================== */
.form {
  padding-top: 25px;
  box-shadow: 0 10px 20px rgba($color: #000000, $alpha: .5) !important;
  padding: 20px;
  border-radius: 10px;
  &_group {
    position: relative;
    margin-bottom: 2rem !important;
    &_control {
      font-size: 18px;
      padding: 5px 10px 5px 1.75rem;
      display: block;
      width: 100%;
      border: none;
      border-bottom: 1px solid #757575;
      border-radius: 0;
      &:focus {
        outline: none;
        ~ .form_group_label {
          top: -20px;
          font-size: 14px;
          color: #5264ae;
        }
        ~ .bar {
          &::before,
          &::after {
            width: 50%;
          }
        }
        ~ .highlight {
          -webkit-animation: inputHighlighter 0.3s ease;
          -moz-animation: inputHighlighter 0.3s ease;
          animation: inputHighlighter 0.3s ease;
        }
      }
      &.valid {
        ~ .form_group_label {
          top: -20px;
          font-size: 14px;
          color: #5264ae;
        }
      }
    }
    &_label {
      color: #999;
      font-size: 18px;
      font-weight: normal;
      position: absolute;
      pointer-events: none;
      left: 1.75rem;
      top: 8px;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
    .icon {
      width: 1rem;
      position: absolute;
      pointer-events: none;
      left: 5px;
      top: 10px;
      svg {
        width: 1rem;
      }
    }
    .bar {
      position: relative;
      display: block;
      width: 100%;
      &::before,
      &::after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 0px;
        position: absolute;
        background-color: $mainColor;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
      }
      &::before {
        left: 50%;
      }
      &::after {
        right: 50%;
      }
    }
  }
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264ae;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* ====================================== _____________ Forms Styles _____________ ====================================== */
